body {
  font-family: "Cormorant Garamond", serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.fixed-width {
  display: inline-block;
  width: 1ch; /* Ensures each character span has a fixed width */
  text-align: center; /* Centers the text within the width */
}

.projects p {
  margin: 0;
}

.projects a {
  text-decoration: underline;
  text-decoration-color: #d11e06;
  text-decoration-thickness: 2px;
}

/* Fixed container width */
.container {
  width: 60%; /* Optional, as the key is the min-width and max-width */
  margin: 0 auto;
  padding: 0 15px;
  min-width: 576px; /* Minimum width set to 600px */
  max-width: 576px; /* Maximum width set to 600px */
}

/* Adjustments for very small screens */
@media (max-width: 576px) {
  .container {
    width: 90%;
    padding: 0 5px;
    min-width: auto; /* Override the fixed width for smaller screens */
    max-width: auto; /* Override the fixed width for smaller screens */
  }
}

@media (max-width: 300px) {
  .container {
    width: 95%;
    padding: 0 2px;
  }
}

header {
  padding-top: 3rem;
  font-size: 2.25rem; /* Default header size */
}

nav {
  width: 100%;
  box-sizing: border-box; /* Ensure no overflow caused by padding or margin */
}

nav a {
  color: #000;
  margin: 0 1rem; /* Default margin */
  text-decoration: none;
  font-size: 1.4rem; /* Default nav link size */
}

.a-margin {
  margin: 0 0rem;
}

main {
  padding: 1rem 0; /* Adjust padding as needed */
  font-size: 1.3rem; /* Default main content size */
}

main p {
  line-height: 1.5;
}

footer {
  color: #000;
  text-align: center;
  padding: 1rem;
  width: 70%;
  margin: 0 auto; /* Center the footer */
  position: relative; /* Ensure it's not fixed for better layout */
  font-size: 1rem; /* Default footer size */
}

@media (max-width: 576px) {
  header a {
    margin: 0 0.5rem;
  }
  footer {
    width: 100%;
    padding: 0 5px;
  }
}

nav a:hover {
  text-decoration: underline;
  text-decoration-color: #d11e06;
  text-decoration-thickness: 2px;
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

/* Contact page styles */
.social-links {
  list-style-type: none;
  padding: 0;
}

.social-links li {
  display: inline;
  margin-right: 10px;
}

.social-links a {
  text-decoration: none;
  color: #d11e06;
  font-weight: 600;
}

social-links a:hover {
  text-decoration: underline;
  text-decoration-color: #d11e06;
  text-decoration-thickness: 2px;
}

@keyframes fadeUp {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.fade-in-1 {
  animation: fadeUp 0.1s ease-out forwards;
}

.fade-in-2 {
  animation: fadeUp 0.2s ease-out forwards;
}

.fade-in-3 {
  animation: fadeUp 0.3s ease-out forwards;
}

.cormorant-garamond-light {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
}

.cormorant-garamond-light-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: italic;
}

.cormorant-garamond-regular {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
}

.cormorant-garamond-regular-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: italic;
}

.cormorant-garamond-medium {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
}

.cormorant-garamond-medium-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: italic;
}

.cormorant-garamond-semibold {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: normal;
}

.cormorant-garamond-semibold-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: italic;
}

.cormorant-garamond-bold {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
}

.cormorant-garamond-bold-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: italic;
}
